@use "../../styles/variables" as v;



.row {

    height: 100%;


    .col {
        display: flex;
        align-items: center;
        justify-content: center;

        &.main {
            position: relative;

            h1 {
                font-weight: bold;
                font-size: 45px;
                color: v.$primary-color;
            }

            .btn-container {
                margin: 15px 0;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            .form-container{
                margin-top: 20px;
                padding: 0 100px;
            }

        }

        &.secondary {
            background-color: v.$secondary-color;
            overflow: hidden;

            img {
                height: 100%;
            }

        }


    }



}

@media(max-width:450px) {
    .row {
        .col {
            &.secondary {
                height:0;
            }
        }
    }
}