
<user-forms-layout 
    [title]="'Log in to your account and relax with fresh news'"
    submitButtonText="Log in"
    submitButtonIcon="box-arrow-in-right"
    navigateButtonText="Create Your Account"
    navigateButtonIcon="person-add"
    [disableSubmitButton]="!loginForm.valid"
    [loading]="loading"
    (submit)="onSubmit()"
    (navigate)="onNavigate()"
    >
    <form [formGroup]="loginForm">
                    <label for="username">Username</label>
                    <input class="form-control"
                        name="username"
                        formControlName="username"
                        type="text"
                        placeholder="type your username"
                    >
                    <label for="password">Password</label>
                    <input class="form-control" 
                        name="password"
                        formControlName="password"
                        type="password"
                        placeholder="type your password">
    </form>
</user-forms-layout>
                
            