
<user-forms-layout 
    title="Log in to your account and relax with fresh news"
    submitButtonText="Log in"
    navigateButtonText="Create Your Account"
    [disableSubmitButton]="!loginForm.valid"
    (submit)="onSubmit()"
    >
    <form [formGroup]="loginForm">
                    <label for="username">Username</label>
                    <input class="form-control"
                        name="username"
                        formControlName="username"
                        type="text"
                        placeholder="type your username"
                    >
                    <label for="password">Password</label>
                    <input class="form-control" 
                        name="password"
                        formControlName="password"
                        type="password"
                        placeholder="type your password">
                </form>
</user-forms-layout>
                
            