<navbar/>
<main>
    <section class="news-section">
        @for(news of listNews$ | async; track news){
            <div class="news">
                <h1>{{news.title}}</h1>
                <span>{{news.body}}</span>
                <div class="seeMorebutton">
                    <default-button (click)="navigateToNewsDetails(news.id)" btnStyle="outline" text="See More" size="small" icon="eye-fill"></default-button>
                </div>
            </div>
        }
        @empty {
            <h1 class="empty">No news was found</h1>
        }
    </section>
</main>